@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Revalia&display=swap');
body{
	background-image: linear-gradient(#36aa7b,#104d62);
	background-repeat: no-repeat;
	background-attachment: fixed; 
}
.page{
	font-family: Plus Jakarta Sans;
	font-style: normal;
	font-size: 14pt;

	
	margin-right: auto;
	margin-top: 4%;
	
	padding-left: 3%;
	padding-right: 3%;

	

}
/* https://ibb.co/Q6kJrmY */
.header{
	background-color: #5ec4a7;
	border-radius: 10px;
	border: #000000 solid 1px;
	vertical-align: middle;
	padding: 0.5%;
	
}
.afterlinks{
	color:red;
}
.content{
	margin-top: 0.5%;
}
.login{
	padding:1%;
	right:0px;
	width: 25%;
	float: right;
	text-align: center;

}
.loginbox{
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	margin-top: 3%;
	text-shadow: #000000 1px 1px 1px;
}
.loginelement{
	margin-top: 0.5%;
}
.logoutlink{
	padding-left: 0.5%;
	font-size: 12pt;
}
.postsubmit{
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

/* little logo https://i.postimg.cc/RZqNBTZM/Untitled-Artwork-1.png */

/* Big logo https://i.postimg.cc/J4XBDxWP/Abstract-Letter-N-Logo-3-D-Sphere-Logo-template-on-transparent-background-PNG.png */

.biglogo {
	content:url(https://i.postimg.cc/J4XBDxWP/Abstract-Letter-N-Logo-3-D-Sphere-Logo-template-on-transparent-background-PNG.png);
	width:100%;
	height:auto;

}

.quotebox {
	border:#FCCF76 solid 3px;
	border-radius: 10px;
	text-align: center;
	margin-top:20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background: rgba(49,159,117, 0.3);
	color:#ffffff;
	text-shadow: 2px 2px 2px #000000
}

.subforumlisting{
	padding: 5px;
	margin-bottom: 5px;
	width:100%;
} 
.inputbox{
	padding: 0.25%;
	margin-top: 0.5%;
}
.errors{
	border-bottom: 1px solid black;
	margin-top: 2%;
}
.error{
	color: red;
	font-weight: bold;
}

a:link {
	font-weight: bold;
	color:#104D65;
}
a:visited {
	font-weight: bold;
	color: #104D65;
}
a:hover {
	font-weight: bold;
	color: #1e7151;
}
a:active {
	font-weight: bold;	
	color: #FCCF76;
}
.subforumtitle{
	font-family:Revalia;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 15px;
	font-size: 24pt;
	text-shadow: 1px 1px 1px #000000;
	
	
}

.forumholder{
	background:rgba(49,159,117,.7);
	border:#FCCF76 solid 3px;
	border-radius: 10px;
	padding:5px 15px 5px 5px;
	margin-left:15px;
}

.lighterback{
	background-blend-mode: overlay;
	background: rgba(225,225,225,.5);
	border-radius: 10px;
	padding:10px 10px 10px 10px;
	margin:10px 10px 10px 10px;
	background-image: url('https://i.postimg.cc/J4XBDxWP/Abstract-Letter-N-Logo-3-D-Sphere-Logo-template-on-transparent-background-PNG.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.subforumdesc{
	font-size: 13pt;
	color: #ffffff;
	margin-left:10px;
	padding: 5px 15px 15px 15px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #000000 
}

.bottoms{
	margin: auto;
    width: auto;
	font-size:22px;
	border-radius: 10px;
	padding:5px 15px 10px 15px;
	background: rgba(225,225,225,.5);
	text-shadow: none;
}

.subforumheader{
	
	text-align: center;
	font-family:revalia;
	margin:auto;
	font-size: 20pt; 
}
.subforumheadertitle{
	display: inline;
	font-weight: bold;
}
.subforumheaderdesc{
	text-align: center;
	width:fit-content;
	margin:auto;
	border-radius: 10px;
	padding:10px 10px 10px 10px;
	background:rgba(225,225,225,.8);
	font-weight: bold;
}
.post{
	padding: 1%;
	border-bottom: 1px solid gray;
}
.postusername{
	background: rgba(225,225,225,.5);
	width:80%;
	padding:10px 10px 10px 10px;
	border-radius: 10px;
	font-style: italic;
	font-size: 12pt;

}
.subforumheaderlink{
	text-align:center;
	font-weight: bold;
	font-style: italic;
	font-size: 15pt;
	margin-top: 0.5%;
}
.postinginfo{
	font-size: 11pt;
	font-style: italic;
}
#nolinks{
	content:url(https://i.postimg.cc/RZqNBTZM/Untitled-Artwork-1.png);
	height:50px;
	width:auto;
}
.noposts{
	padding: 1%;
}
.plus-jakarta-sans {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal; 
}

.revalia-regular {
	font-family: "Revalia", sans-serif;
	font-weight: 400;
	font-style: normal;
}	  
.subsubforums{
	padding: 0.5%;
	margin-top: 0.5%;
	padding-left: 1%;
}
.subsubforumtitle{
	background: rgba(225,225,225,.8);
	width:fit-content;
	border:#000000 solid 1px;
	padding:10px 10px 10px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: revalia;
	font-weight: bolder;
	text-decoration: none;
	font-size: 14pt;
}
.subsubforumdesc{
	background: rgba(225,225,225,1);
	border:#000000 1px solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	width:100%;
	padding:10px 10px 10px 10px;
	font-size: 12pt;
	font-weight: bold;
}
.toplevelinfo{
	text-align:center;
	padding: 0.5%;
	font-weight: bold;
}
.actualpost{
	background:rgba(49,159,117,.7);
	border:#FCCF76 solid 3px;
	border-radius: 10px;
	padding:5px 15px 5px 5px;
	margin-left:15px;
	color:black;
}
.actualposttitle{
	background-color: rgba(225,225,225,.3);
	border-radius: 10px;
	width:70%;
	margin:auto;
	text-align: center;
	padding: 10px 10px 10px 10px;
	font-size: 16pt;
	font-family:revalia;
	font-weight: bold;
}
.postcontent{
	background:rgba(225,225,225,1);
	border-radius: 10px;
	border:#000000 solid 2px;
	padding: 1%;
}
.postposter{
	font-size: 12pt;
	font-style: italic;
	color: black;
}
.posttime{
	font-style: italic;
	font-size: 11pt;
}
.whitespace{
	white-space: pre-line;
}
.comments{
	border: 1px solid gray;
	padding: 1%;
	margin-top: 1%;
}
.comment{
	background: white;
	padding:10px 10px 10px 10px;
	border-bottom: 1px solid gray;
}
.commentuser{
	display: inline;
	font-weight: bold;
}
.commentcontent{
	font-weight: bold;
	display: inline;
}
.commenttime{
	font-size: 11pt;
	font-style: italic;
}


.addcomment{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.varwidth{
	width: 50%;
}
.combutt{
	padding: 5px 15px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #04AA6D;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #628e8c;
}
.combutt:hover {background-color: #278268}	  
.combutt:active {
	background-color: #b89453;
	box-shadow: 0 5px #628e8c;
	transform: translateY(4px);
}

/*Maisha Code*/
.btn { display: flex; align-items: center; padding: 8px 20px; font-size: 16px; }
.btn span { font-weight: bold; color: white; margin-left: 5px; }
.reactions { display: flex; }