{% extends 'layout.html' %}
{% block body%}
<div class = "container overflow-hidden">
	<div class="row justify-content-md-center">
		<div class="toplevelinfo">
			Top Level Subforums	
		</div>
	</div>
	<div class="row gy-10">
		<div class="col-sm-4">
			<div class="biglogo"></div>
			<div class="quotebox">"If there is no struggle, there is no progress"<br>Frederick Douglass</div>
		</div>
		<div class="col-sm-8">
			<div class="forumholder">
				{% for subforum in subforums %}
				<div class="row">
					<div class="subforumlisting">
						<div class="subforumtitle">
							<a href="/subforum?sub={{ subforum.id }}">
							{{ subforum.title}}
							</a>
						</div>
				</div>
				<div class="row">
					<div class="subforumdesc">
						{{ subforum.description }}
	
					</div>
				</div>
				{% endfor %}
				<div class="direct message">
					<a href="/send_message">
						 Direct Message
					</a>
				</div>	
					<a href="/messages/{{ current_user.id }}">
						Show Messages
					</a>
				</div>		
				<div class="subforumdesc">
					<a href="/user_settings">
						User Settings 
					</a>
			</div>
{% endblock %}
